
body{
  overflow: hidden;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #545454;
}

a {
  color: rgb(166, 216, 39);
  text-decoration: none;
}

a:visited {
  color: rgb(92, 16, 233);
}

h1 {
  color: rgb(40, 44, 30);
}

ul {
}



.things {
  margin-bottom: 80px;
}

.things ul {
  list-style: none;
  padding: 5px;
}

.things li{
  display: inline-block;
  margin-right: 30;
}


footer{
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 30px;
  font-size: 0.9em;
  text-align: center;
}

.life {
  font-size: 0.9em;
  color: #566377;
}

.posts a {
  font-size: 1.4em;
}

#url {
  color: rgb(166, 216, 39);
}


#searchResults{
  position: absolute;
  top: 40px; 
}

.grid{
  display: grid;
  grid-template-columns: 
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, 80em) [container-end]
        minmax(1em, 1fr) [viewport-end];

  /*top: 0;
  left: 0;
  position: absolute;*/
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 5px;
  overflow: hidden;
}

.grid-central {
  grid-column: container;
}

.navigation {
  display: flex;
  justify-content: inherit;
  width: 40%;
  padding-top: 20px;
  padding-right: 5px;
}

.infos {
}

.content {
  /*top: 50px;
  width: 60%;
  height: 90%;
  position: relative;
  display: inline-block;
  padding-left: 50px;*/
  /*padding-top: 20px;*/
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h2 {
  font-weight: 100;
  font-size: 1em;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-Light.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

.articles .articlesList li {
  padding: 20px
}

.articles .tagsList li {
  padding: 10px;
  display: -webkit-inline-box;
}

.projects {

}

.projects section {
  /*height: 300px;*/
}

.projects section h2 {
  position: inherit;
  opacity: 1;
}

.fadedImg img{
  opacity: 1;
  width: 300px;
}

.about img {
  width: 200px;
}

.index {
  display: flex;
  flex-flow: wrap; 
  width: 100%;
}

.index img {
  width: 200px;
  float: left;
  padding-right: 30px;
}

.index .articles{
  width: 50%
}
.index .articles .articlesList li{
  padding: 2px;
}